.App {
}

.App-logo {
  height: 100px;
  pointer-events: none;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

input:disabled, select:disabled, input:read-only {
  opacity: 0.5;

}

